{% extends 'base.html.twig' %}

{% block body %}
<div class="row medium-8 large-7 columns">
  <ul>
      {% for post in posts %}
          <li>
            <a href="{{ path('post', {'id': post.id}) }}">
            {{ post.title }}
            </a>
          </li>
      {% endfor %}
  </ul>

  </div>
  {% endblock %}
