/site/build/app/config/parameters.yml
/site/build/phpunit.xml
/site/build/var/*
!/var/cache
/site/build/var/cache/*
!var/cache/.gitkeep
!/var/logs
/site/build/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/site/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/site/build/vendor/*
/site/build/web/bundles/*
/site/node_modules/*
**/.directory
.directory
